body {
    background-image: url('image.jpeg'); /* Replace 'image.jpg' with your actual image file name */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.nav {
    background-color: #222;
    padding: 15px 0;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 0 15px;
    display: inline;
}

.nav a {
    text-decoration: none;
    color: #647c92;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #0e84a1;
}

.header {
    background: linear-gradient(135deg, #6b678f, #f26464);
    color: #ecdfdf;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.header img.profile-img {
    max-width: 150px;
    box-shadow: 0 5px 15px rgba(26, 20, 107, 0.2);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.header img.profile-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(102, 85, 85, 0.2);
}


.header-text {
    margin-top: 20px;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.header p {
    font-size: 16px;
    opacity: 0.9;
}

.container {
    padding: 20px;
    background-color: #4a751809;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(122, 158, 76, 0.1);
    margin-bottom: 20px;
}

.section-heading {
    color: #1b1919;
    font-size: 24px;
    margin-bottom: 10px;
}

.section-content {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 15px 0;
}

.footer p {
    margin: 0;
}
